.footer{
  max-width: 1170px;
  padding: 40px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer__copyright{
  font-size: 14px;
  line-height: 18px;
  color: #0d0d0d;
  text-transform: uppercase;
  font-weight: bold;
  width: 50%;
}
.footer__social{
  width: 20%;
  margin: 0;
  flex: none;
  color: #0d0d0d;
  text-align: right;
}
.footer__social .social__btn{
  color: #0d0d0d;
  margin-right: 15px;
  transition: .5s;
  font-size: 18px;
  background: none;
}
.footer__social .social__btn:last-child{
  margin-right: 0;
}
.footer__social .social__btn:hover{
  color: #f39c12;
}