.map{
  //background: url("../img/map.png") no-repeat center top;
  height: 500px;

}
#map{
  height: 500px;
  position: relative;
}
#map::before{
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 60px;
  top: -1px;
  left: 0;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
#map::after{
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 60px;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
#map .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
  bottom: 200px!important;
}

.gm-style-iw {
  overflow: visible !important;
  color: #ffffff;
  background: black;
  box-shadow: -14px 0px 0px black, -14px 9px 0px black, -14px -8px 0px black, 15px -8px 0px black, 15px 9px 0px black;
  text-align: center;

  div {
    overflow: visible !important;
  }

  &::before {
    content: '';
    width: calc(100% + 29px);
    height: calc(100% + 17px);
    position: absolute;
    top: -9px;
    left: -14px;
  //@include center-align;
  //  background: black;
  }

  // Стрелочка
  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-top-color: black;
    z-index: 4;
    position:  absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -52px;
    margin: auto;
  }
}
p.content{
  color: #ffffff;
}
.gm-style-iw + div{
  background-color: transparent;
  right: 8px !important;

  img{
    display: none;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: #fff;
    top: 5px;
    right: 0;
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(135deg);
  }
}