.sliderTop{
  text-align: center;
  margin: auto;
  padding: 250px 0 65px;
}
.sliderTop h1{
  font-size: 45px;
  color: #ffffff;
  letter-spacing: -0.02em;
  margin-bottom: 90px;
  text-transform: uppercase;
  font-weight: lighter;
}
.sliderTop h1 .lg{
  font-size: 70px;
  display: block;
  letter-spacing: -0.06em;
  font-weight: bold;
}
.sliderTop h1 .sm{
  font-size: 40px;
  letter-spacing: -0.06em;
  font-weight: lighter;
}
.sliderTop .btn{
  color: #ffffff;
}