.team{
  position: relative;
  padding: 100px 0;
}
.team::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  top: -59px;
  background-color: #fff;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}